.login-form {
    height: 100vh;
}

.login-form .top img {
    max-width: 14rem;
}

.login-form .card {
    background-color: #706EFF;
    border: 1px solid #706EFF;
    width: 400px;
    color: #fff;
}

.login-form .btn {
    color: #fff;
    background-color: #FB71FC;
}

.login-form a {
    color: #fff;
    text-decoration: none;
}